/*clearfix*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header{
    background-color: #F8F9FA;
    height: 90px;
}

aside{
    background-color: blue;
    width: 150px;
    height: calc(100vh - 90px);
    float: left;
}

main{
    background-color: yellow;
    height: calc(100vh - 90px);
    width: calc(100% - 150px);
    float: left;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*header*/

header i{
}

/*colori*/

.my_bg_white{
    background-color: white;
}

/*my_class*/

.my_small-logo{
    width: 50px;
    display: none;
}

/*elementi da cancellare*/

.trat{
    border: dashed 2px blue;
}

.sfondo{
    background-color: red;
}

