li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*Layout*/

header{
    background-color: #F8F9FA;
    height: 70px;
}

main{
    height: calc(100vh - 70px);
}

section.my_sidebar{
    width: 80px;
    background-image: url('../img/sidebar-bg.png');
    background-color: #051E34;
}

section.my_main_content{
    width: calc(100% - 80px);
    background-color: lightblue;
}

@media screen and (min-width: 992px) {
    section.my_sidebar{
        width: 150px;
    }
    
    section.my_main_content{
        width: calc(100% - 150px);
    }  
}

/*header*/

header nav{
    height: 100%;
    background-color: white;
}

header nav div{
    height: 100%;
}

header .my_img_logo img:first-child{
    height: 100%;
}

header .my_img_logo img:last-child{
    display: none;
}

@media screen and (min-width: 992px){
    header .my_img_logo img:first-child{
        display: none;
    }
    header .my_img_logo img:last-child{
        display: block;
    }
}

header div.my_search{
    background-color: #E5E5E5;
    width: 100%;
}

header div.my_searchbar{
    width: 100%;
}

header div.my_searchbar input{
    background-color: #E5E5E5;
    width: 100%;
}

header .my_icone i{
    color: #5E5B5B;
}

header .my_icone a:last-child i{
     color: #FF9017;
}

header .my_icone a{
    display: none;
}

header .my_icone a:last-child{
    display: block;
}

@media screen and (min-width: 992px){
    header .my_icone a{
        display: block;
    }
}

/*my_sidebar*/

section.my_sidebar a{
    color: white;
    /*
    margin-bottom: 1.5rem;
    */
}

.my_sidebar i{
    width: 1rem;
    margin-right: 2rem;
}

.my_sidebar span{
    display: none;
}

@media screen and (min-width: 992px){
    .my_sidebar span{
        display: block;
    }
}

/*my_main_content*/



/*colori*/

.my_bg_white{
    background-color: white;
}

/*elementi da cancellare*/

.trat{
    border: dashed 2px blue;
}

.sfondo{
    background-color: red;
}

