/*clearfix*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header{
    background-color: red;
    height: 100px;
}

aside{
    background-color: blue;
    width: 150px;
    height: calc(100vh - 100px);
    float: left;
}

main{
    background-color: yellow;
    height: calc(100vh - 100px);
    width: calc(100% - 150px);
    float: left;
}



/*elementi da cancellare*/

.trat{
    border: dashed 2px blue;
}